/* OUTPUT */
.h2 {
    text-transform: uppercase;
    font-family: "Funnel Display", sans-serif;
}

#outputContainer {
    padding: 10px;
    margin: 10px;
    background-color: #ABE539;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    justify-content: center;
}

.output {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    width: 100%;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    text-align: center;
}