html, body {
  margin: 0;
  padding: 0;
}
#body{
  margin: 0px;
  padding: 0px;
  width: 98%;
  height: 100%;
  background-color: #4B6419;
  display: flex;
  justify-content: center;
}
/* LAYOUT */
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #779F28;
  padding: 10px;
  margin: 10px ;
}

/* Header */
#header{
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #98CA33;
}
#mainTitle {
  text-align: center;
  margin: 5px;
  color: #404040;
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
}
/* Section1 */

#section1{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px 5px 10px 5px;
  background-color: #455D17;
  padding: 15px;
}

/* API FORM */
#apiForm{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  background-color: #98CA33;
}
#nameInput{
  width: 250px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Funnel Display", sans-serif;
  font-weight: 700;
  border: #000000 2px solid;
}
#nameLabel{
  color: #000000;
  font-family: "Funnel Display", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
/* Buttons */
#fetchButton {
  width: 180px;
  margin: 10px;
  padding: 10px;
  color: #000000;
  font-family: "Funnel Display", sans-serif;
  font-weight: 700;
}
/* OUTPUT */
.h2{
  text-transform: uppercase;
  font-family: "Funnel Display", sans-serif;
}
#outputContainer{
  padding: 10px;
  margin: 10px;
  background-color: #ABE539;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  justify-content: center;
}
.output {
  margin: 10px 0px 0px 0px;
  padding: 10px;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-align: center;
}