/* BODY */
html, body {
  margin: 0;
  padding: 0;
}
#body{
  margin: 0px;
  padding: 0px;
  width: 98%;
  height: 100%;
  background-color: #4B6419;
  display: flex;
  justify-content: center;
}
#root{
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
/* LAYOUT */
#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #779F28;
  padding: 10px;
  border-radius: 5px;
  margin: 10px ;
}
/* Section1 */
#section1{
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10px 5px 10px 5px;
  background-color: #455D17;
  padding: 15px;
  width: fit-content;
}

